

.Landing-mobile {
  max-width: 100vw;
  margin-top: -1.5em;;


}

.Landing-header-mobile {
  min-height: 100vh;
  /* 
  display: flex; */
  /* font-size: calc(10px + 2vmin);
  color: white; */
text-align: center;


}

.Landing-header-div-mobile {
  margin-left: 0;
  max-width: 90%;
  margin: auto;
}

.HeaderText-mobile {
  font-family: 'MonteCarlo', cursive;
  color: rgb(194, 255, 192);
  /* color: white; */
  font-size: 3.5em;
  

}

.Main-name-mobile {
  
}

.Landing-logo-mobile{
    height: 40vmin;
    pointer-events: none;
    margin: -50px 0 -30px 0;
}

.Main-graduate-mobile {
  margin-top: 0; 
}


/* Timer */

.days-timer-mobile {
  font-family: 'MonteCarlo', cursive;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -25em;
  /* margin-left: 2em; */
}



.days-timer-title-date-mobile {
  font-size: 2.5em;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
 align-items: center;
  margin-bottom: 1em;
 
  

}

.countdown-container-mobile {
  font-size: 1.5em;
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.count-mobile {
  background-color: black;
  width: 23%;
  text-align: center;
  border-radius: 16px;
  border: 1px solid royalblue;
  border-width: 5px 0 4px;
  padding: .3em em;
  /* border: 1px solid purple;

  border-width: 8px 0 4px;
  padding: .5em .9em; */
}

.days {
  color: #FD4746;
}

.hours {
  color: #FACB00;
}

.minutes {
  color: #37D0F9;
}

.seconds {
  color: #FD4746;
}


